replicaCount: 2

image:
  repository: tbg101/stock-service
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8083
  targetPort: 8083

resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"

env:
  - name: EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE
    value: "http://discovery-service:8761/eureka/"
  - name: SPRING_DATASOURCE_URL
    value: "jdbc:mysql://mysql-service:3306/exam_db"
  - name: SPRING_DATASOURCE_USERNAME
    value: "root"
  - name: SPRING_DATASOURCE_PASSWORD
    value: "root"
  - name: SPRING_JPA_HIBERNATE_DDL_AUTO
    value: "update"
