replicaCount: 1

image:
  repository: tbg101/discovery-service
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8761
  targetPort: 8761

resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"

env:
  - name: EUREKA_CLIENT_REGISTER_WITH_EUREKA
    value: "false"
  - name: EUREKA_CLIENT_FETCH_REGISTRY
    value: "false"
