apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service-deployment
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: youruser/auth-service:latest  # ToChange
        ports:
        - containerPort: 8081
        envFrom:
        - configMapRef:
            name: app-configmap
        env:
        - name: EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE
          value: http://discovery-service:8761/eureka/
