apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery-service-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: discovery-service
  template:
    metadata:
      labels:
        app: discovery-service
    spec:
      containers:
      - name: discovery-service
        image: youruser/discovery-service:latest  # ToChange
        ports:
        - containerPort: 8761
        envFrom:
        - configMapRef:
            name: app-configmap
        env:
        - name: EUREKA_CLIENT_REGISTER_WITH_EUREKA
          value: "false"
        - name: EUREKA_CLIENT_FETCH_REGISTRY
          value: "false"
