apiVersion: apps/v1
kind: Deployment
metadata:
  name: stock-service-deployment
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: stock-service
  template:
    metadata:
      labels:
        app: stock-service
    spec:
      containers:
      - name: stock-service
        image: youruser/stock-service:latest  # ToChange
        ports:
        - containerPort: 8083
        envFrom:
        - configMapRef:
            name: app-configmap
        env:
        - name: EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE
          value: http://discovery-service:8761/eureka/
