apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  ports:
  - port: 8080
    targetPort: 8080
  selector:
    app: auth-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: {{ .Values.image.repository }}/auth-service:{{ .Values.image.tag }}
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_DATASOURCE_URL
          value: jdbc:mysql://db:3306/auth-service?createDatabaseIfNotExist=true
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: http://discovery-service:8761/eureka/
        imagePullPolicy: {{ .Values.image.pullPolicy }}
