apiVersion: v1
kind: Service
metadata:
  name: discovery-service
spec:
  ports:
  - port: 8761
    targetPort: 8761
  selector:
    app: discovery-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery-service
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: discovery-service
  template:
    metadata:
      labels:
        app: discovery-service
    spec:
      containers:
      - name: discovery-service
        image: {{ .Values.image.repository }}/discovery-service:{{ .Values.image.tag }}
        ports:
        - containerPort: 8761
        imagePullPolicy: {{ .Values.image.pullPolicy }}
