apiVersion: v1
kind: Service
metadata:
  name: product-service
spec:
  ports:
  - port: 9091
    targetPort: 9091
  selector:
    app: product-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
      - name: product-service
        image: {{ .Values.image.repository }}/product-service:{{ .Values.image.tag }}
        ports:
        - containerPort: 9091
        env:
        - name: SPRING_DATASOURCE_URL
          value: jdbc:mysql://db:3306/product_service?createDatabaseIfNotExist=true
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: http://discovery-service:8761/eureka/
        imagePullPolicy: {{ .Values.image.pullPolicy }}
